.ymaps {
  .ymaps-2-1-79-float-button {
    background-color: #242429;
    box-shadow: none;
    border-radius: 8px;
  }

  .ymaps-2-1-79-controls__control {
    position: fixed !important;
    width: max-content;
    top: 50% !important;
    right: 16px !important;
    left: initial !important;
  }

  .ymaps-2-1-79-controls__control_toolbar {
    .ymaps-2-1-79-float-button {
      position: fixed;
      top: 45%;
      right: 16px;
    }
  }

  .ymaps-2-1-79-float-button-icon_icon_geolocation {
    background-image: url('data:image/svg+xml,<svg stroke="none" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,2 C12.3796958,2 12.693491,2.28215388 12.7431534,2.64822944 L12.75,2.75 L12.7490685,4.53770881 L12.7490685,4.53770881 C16.292814,4.88757432 19.1124257,7.70718602 19.4632195,11.2525316 L19.5,11.25 L21.25,11.25 C21.6642136,11.25 22,11.5857864 22,12 C22,12.3796958 21.7178461,12.693491 21.3517706,12.7431534 L21.25,12.75 L19.4616558,12.7490368 L19.4616558,12.7490368 C19.1124257,16.292814 16.292814,19.1124257 12.7474684,19.4632195 L12.75,19.5 L12.75,21.25 C12.75,21.6642136 12.4142136,22 12,22 C11.6203042,22 11.306509,21.7178461 11.2568466,21.3517706 L11.25,21.25 L11.2509632,19.4616558 L11.2509632,19.4616558 C7.70718602,19.1124257 4.88757432,16.292814 4.53678051,12.7474684 L4.5,12.75 L2.75,12.75 C2.33578644,12.75 2,12.4142136 2,12 C2,11.6203042 2.28215388,11.306509 2.64822944,11.2568466 L2.75,11.25 L4.53770881,11.2509315 L4.53770881,11.2509315 C4.88757432,7.70718602 7.70718602,4.88757432 11.2525316,4.53678051 L11.25,4.5 L11.25,2.75 C11.25,2.33578644 11.5857864,2 12,2 Z M12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 Z M12,8 C14.209139,8 16,9.790861 16,12 C16,14.209139 14.209139,16 12,16 C9.790861,16 8,14.209139 8,12 C8,9.790861 9.790861,8 12,8 Z" fill="%230073FF" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  }

  .ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 12.998H13V18.998H11V12.998H5V10.998H11V4.99805H13V10.998H19V12.998Z" fill="%230073FF"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  .ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 12.998H5V10.998H19V12.998Z" fill="%230073FF"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  .ymaps-2-1-79-gotoymaps {
    position: fixed;
    top: 59%;
    right: 16px;
    margin-left: 0;

    .ymaps-2-1-79-gotoymaps__container {
      width: 26px;
      height: 26px;
      background-color: #242429;
      box-shadow: none;
      border-radius: 8px;
    }

    .ymaps-2-1-79-gotoymaps__pin {
      background: url('data:image/svg+xml,<svg width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M212.933 15.8667C198.8 21.6 186 35.6 182.533 49.2L180.8 55.8667L116.8 56.2667C54.8 56.6667 52.4 56.8 45.7333 59.4667C35.2 63.8667 26.5333 70.8 20.8 79.8667C17.8667 84.2667 14.2667 88.4 12.8 88.8C8.4 90.1333 2.93333 96 1.2 101.067C-1.73333 109.867 3.06667 119.867 11.4667 122.933C14.8 124.133 17.0667 126.133 18.8 129.6C24.5333 140.8 36 150 49.2 153.867C55.0667 155.6 63.6 156 93.7333 156H130.933L136 161.733C140.933 167.333 141.067 167.333 150 167.333C158.933 167.333 159.067 167.333 164 161.6L169.067 156H205.6C248.4 156 252 156.667 262.4 166.133C271.067 173.733 271.867 176.267 267.467 181.333C261.067 189.067 261.333 199.467 268 206.267L272 210.267L267.867 215.867C262.933 222.8 253.733 228.8 245.2 230.533C241.067 231.467 216.133 232 179.467 232H120.267L118.667 225.733C115.067 210.933 104.933 198.8 90.9333 192.267C84.4 189.2 81.6 188.667 70.6667 188.667C59.0667 188.667 57.2 189.067 49.2 192.933C38.6667 198.133 30.5333 206.533 25.6 217.067C22.4 223.733 22 226.4 22 238C22 250.133 22.4 252 25.8667 259.067C30.5333 268.267 41.4667 278.933 50.2667 282.933C59.4667 287.2 81.8667 287.2 91.0667 282.933C103.733 277.067 116.4 261.6 119.333 248.4L120.133 244.133L183.733 243.733C245.2 243.333 247.6 243.2 254.267 240.533C264.8 236.133 273.467 229.2 279.2 220.133C282.133 215.733 285.733 211.6 287.2 211.2C291.6 209.867 297.067 204 298.8 198.933C301.733 190.133 296.933 180.133 288.533 177.067C285.2 175.867 282.933 173.867 281.2 170.4C275.467 159.2 264 150 250.8 146.133C244.933 144.4 236.4 144 206.267 144H169.067L164 138.267C159.067 132.667 158.933 132.667 150 132.667C141.067 132.667 140.933 132.667 136 138.267L130.933 144H94.4C51.6 144 48 143.333 37.6 133.867C29.3333 126.533 28.1333 123.467 31.7333 119.6C35.0667 116 37.3333 110.4 37.3333 105.6C37.3333 101.867 33.0667 93.7333 29.7333 91.3333C28.1333 90.1333 28.5333 88.9333 32 84.2667C37.0667 77.2 46.1333 71.3333 54.8 69.4667C58.9333 68.5333 84.1333 68 121.2 68H181.067L182 72.9333C184.533 86.9333 196.133 101.067 210.4 107.733C216.933 110.8 219.733 111.333 230.667 111.333C242.4 111.333 244.133 110.933 252.267 106.933C262.667 101.867 270.667 93.6 275.867 82.6667C278.8 76.4 279.333 73.6 279.333 62.6667C279.333 51.7333 278.8 48.9333 275.733 42.4C271.067 32.2667 261.867 22.6667 252.4 18C242 12.8 222.933 11.8667 212.933 15.8667ZM246 28.5333C274.267 41.7333 275.467 79.6 248.267 95.7333C242.8 98.9333 240.667 99.3333 230.667 99.3333C217.6 99.3333 212 97.0667 203.733 88.4C185.333 69.3333 191.6 38 216.133 27.4667C223.467 24.2667 238.133 24.8 246 28.5333ZM24 102.533C26.1333 106.667 25.6 109.067 22 111.467C18.9333 113.467 18.4 113.467 15.3333 111.467C9.6 107.733 11.8667 100 18.6667 100C21.2 100 23.0667 100.933 24 102.533ZM156 148C157.2 150.133 156.8 151.333 154 154C151.333 156.8 150.133 157.2 148 156C146.533 155.2 144.8 153.467 144 152C142.8 149.867 143.2 148.667 146 146C148.667 143.2 149.867 142.8 152 144C153.467 144.8 155.2 146.533 156 148ZM285.467 189.2C288.133 191.333 288.4 192.267 287.333 195.467C286.133 198.667 285.2 199.333 281.333 199.333C277.467 199.333 276.533 198.667 275.333 195.467C274.267 192.267 274.533 191.333 277.2 189.2C278.933 187.867 280.8 186.667 281.333 186.667C281.867 186.667 283.733 187.867 285.467 189.2ZM87.3333 203.733C106.133 213.467 113.333 235.6 103.867 254.533C96.8 268.667 84.2667 275.6 67.7333 274.4C54 273.467 42.5333 266 36.6667 254C33.0667 246.4 32.4 232.133 35.3333 224.4C39.3333 214.133 49.3333 204.667 60 201.2C65.8667 199.2 81.6 200.667 87.3333 203.733Z" fill="%230073FF"/><path d="M219.333 37.2C201.2 45.6 197.2 67.8667 211.2 82C236.667 107.467 275.2 69.3333 250.133 43.3333C241.867 34.6667 229.867 32.2667 219.333 37.2ZM241.067 51.2C245.333 55.2 246 56.5333 246 61.7333C246 69.2 242.267 74.5333 235.6 77.2C229.333 79.4667 224.667 78.2667 219.067 72.6667C213.867 67.4667 213.067 60.4 217.2 54.1333C223.067 45.3333 233.2 44 241.067 51.2Z" fill="%230073FF"/><path d="M64 210.533C53.7333 213.867 47.3333 220 44.1333 229.2C36.5333 251.867 61.3333 273.2 82.6667 262.267C98.5333 254.267 103.2 234.533 92.4 220.267C86.6667 212.533 72.5333 207.733 64 210.533ZM78.4 224C88 229.867 89.0667 241.733 80.5333 249.2C74.1333 254.933 67.2 254.933 60.8 249.2C52.2667 241.733 53.3333 229.867 62.9333 224C68.5333 220.667 72.8 220.667 78.4 224Z" fill="%230073FF"/></svg>') no-repeat center;
      background-size: 24px;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .ymaps-2-1-79-gotoymaps__text-container {
      display: none;
    }
  }
}
